<a href="https://colab.research.google.com/github/sundarramamurthy/DS/blob/master/Data_Preprocessing_Using_Pandas_%26_Spark_DataFrame%2C_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Connecting Drive to Colab

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

# Setting up PySpark in Colab

## Install Pyspark

In [ ]:
#Install Pyspark for python
!pip install Pyspark

Collecting Pyspark
  Downloading https://files.pythonhosted.org/packages/89/db/e18cfd78e408de957821ec5ca56de1250645b05f8523d169803d8df35a64/pyspark-3.1.2.tar.gz (212.4MB)
     |████████████████████████████████| 212.4MB 64kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 35.4MB/s
Building wheels for collected packages: Pyspark
  Building wheel for Pyspark (setup.py) ... done
  Created wheel for Pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=81a8ad69c47aa4b1423c8cef7e27d78ca183de5a805ca95e3c784a9f7b88299e
  Stored in directory: /root/.cache/pip/wheels/40/1b/2c/30f43be2627857ab80062bef1527c0128f7b4070b6b2d02139
Successfully built Pyspark
Installing collected packages: py4j, Pyspark
Successfully installed Pyspark-3.1.2 py4j-0.10.9

# Local spark session to test our installation:

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from pyspark import SparkContext
try:
    sc = SparkContext('local', 'my spark context')
except ValueError:
    print('SparkContext already exists!')
from pyspark.sql import SparkSession
try:
    spark = SparkSession.builder.appName('spark_session_2').getOrCreate()
except ValueError:
    print('SparkSession already exists!')

SparkContext already exists!

# Loading 2.5 GB data into PySpark

In [ ]:
%%time 
df_spark = spark.read.csv("/content/drive/MyDrive/Data/title.akas.tsv.gz", sep=r'\t',header=True, inferSchema=True)

CPU times: user 229 ms, sys: 26 ms, total: 255 ms
Wall time: 46.6 s

Data Exploration

In [ ]:
df_spark.printSchema()

root
 |-- titleId: string (nullable = true)
 |-- ordering: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- region: string (nullable = true)
 |-- language: string (nullable = true)
 |-- types: string (nullable = true)
 |-- attributes: string (nullable = true)
 |-- isOriginalTitle: string (nullable = true)

Display Rows

In [ ]:
df_spark.show(10)

+---------+--------+--------------------+------+--------+-----------+-------------+---------------+
|  titleId|ordering|               title|region|language|      types|   attributes|isOriginalTitle|
+---------+--------+--------------------+------+--------+-----------+-------------+---------------+
|tt0000001|       1|          Карменсіта|    UA|      \N|imdbDisplay|           \N|              0|
|tt0000001|       2|          Carmencita|    DE|      \N|         \N|literal title|              0|
|tt0000001|       3|Carmencita - span...|    HU|      \N|imdbDisplay|           \N|              0|
|tt0000001|       4|          Καρμενσίτα|    GR|      \N|imdbDisplay|           \N|              0|
|tt0000001|       5|          Карменсита|    RU|      \N|imdbDisplay|           \N|              0|
|tt0000001|       6|          Carmencita|    US|      \N|         \N|           \N|              0|
|tt0000001|       7|          Carmencita|    \N|      \N|   original|           \N|              1|
|tt0000001|       8|      カルメンチータ|    JP|      ja|imdbDisplay|           \N|              0|
|tt0000002|       1|Le clown et ses c...|    \N|      \N|   original|           \N|              1|
|tt0000002|       2|   A bohóc és kutyái|    HU|      \N|imdbDisplay|           \N|              0|
+---------+--------+--------------------+------+--------+-----------+-------------+---------------+
only showing top 10 rows

Number of rows in Data Frame

In [ ]:
print(df_spark.count()/1000000, " Million rows")

26.506  Million rows

Display specific columns

In [ ]:
df_spark.select("titleId","ordering","title","language").show(5)

+---------+--------+--------------------+--------+
|  titleId|ordering|               title|language|
+---------+--------+--------------------+--------+
|tt0000001|       1|          Карменсіта|      \N|
|tt0000001|       2|          Carmencita|      \N|
|tt0000001|       3|Carmencita - span...|      \N|
|tt0000001|       4|          Καρμενσίτα|      \N|
|tt0000001|       5|          Карменсита|      \N|
+---------+--------+--------------------+--------+
only showing top 5 rows

Counting and Removing Null values

In [ ]:
from pyspark.sql import functions as F

In [ ]:
df_spark.select([F.count(F.when(F.isnull(c), c)).alias(c) for c in df_spark.columns]).show()

+-------+--------+-----+------+--------+-----+----------+---------------+
|titleId|ordering|title|region|language|types|attributes|isOriginalTitle|
+-------+--------+-----+------+--------+-----+----------+---------------+
|      0|       0|    0|     1|       1|    1|         1|              1|
+-------+--------+-----+------+--------+-----+----------+---------------+