In [1]:
#importing the libraries
import pandas as pd
from sklearn.preprocessing import normalize

In [2]:
#reading the file
data = pd.read_csv('low_variance_filter.csv')

In [3]:
# first 5 rows of the data
data.head()

      ID  temp   atemp  humidity  windspeed  count
0  AB101  9.84  14.395        81        0.0     16
1  AB102  9.02  13.635        80        0.0     40
2  AB103  9.02  13.635        80        0.0     32
3  AB104  9.84  14.395        75        0.0     13
4  AB105  9.84  14.395        75        0.0      1

In [4]:
#shape of the data
data.shape

(12980, 6)

In [5]:
#percentage of missing values in each variable
data.isnull().sum()/len(data)*100

ID           0.0
temp         0.0
atemp        0.0
humidity     0.0
windspeed    0.0
count        0.0
dtype: float64

In [6]:
#data type of variables
data.dtypes

ID            object
temp         float64
atemp        float64
humidity       int64
windspeed    float64
count          int64
dtype: object

In [7]:
#creating dummy variables of categorical variables
data = data.drop('ID', axis=1)

In [8]:
#shape of data
data.shape

(12980, 5)

In [9]:
normalize = normalize(data)

In [10]:
data_scaled = pd.DataFrame(normalize)

In [11]:
data_scaled.var()

0    0.005877
1    0.007977
2    0.093491
3    0.008756
4    0.111977
dtype: float64

In [12]:
#storing the variance and name of variables
variance = data_scaled.var()
columns = data.columns

In [13]:
#saving the names of variables having variance more than a threshold value
variable = [ ]
for i in range(0,len(variance)):
    if variance[i]>=0.006:   #setting the threshold as 0.006
        variable.append(columns[i])

In [14]:
variable

['atemp', 'humidity', 'windspeed', 'count']

In [15]:
# creating a new dataframe using the above variables
new_data = data[variable]

In [16]:
# first five rows of the new data
new_data.head()

    atemp  humidity  windspeed  count
0  14.395        81        0.0     16
1  13.635        80        0.0     40
2  13.635        80        0.0     32
3  14.395        75        0.0     13
4  14.395        75        0.0      1

In [17]:
#variance of variables in new data
new_data.var()

atemp           73.137484
humidity       398.549141
windspeed       69.322053
count        25843.419864
dtype: float64

In [18]:
# shape of new and original data
new_data.shape, data.shape

((12980, 4), (12980, 5))