## Load the stroke prediction Dataset

In [1]:
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [2]:
stroke_data = pd.read_csv('stroke prediction.csv')
stroke_data.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,Male,3.0,0,0,No,children,Rural,95.12,18.0,NaN,0
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,16523,Female,8.0,0,0,No,Private,Urban,110.89,17.6,NaN,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,46136,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0

In [3]:
stroke_data.isnull().sum()

id                       0
gender                   0
age                      0
hypertension             0
heart_disease            0
ever_married             0
work_type                0
Residence_type           0
avg_glucose_level        0
bmi                   1462
smoking_status       13292
stroke                   0
dtype: int64

In [4]:
stroke_data["smoking_status_NA"]=stroke_data["smoking_status"].isnull()*1

In [5]:
stroke_data[['smoking_status_NA', 'smoking_status']].head()

   smoking_status_NA   smoking_status
0                  1              NaN
1                  0     never smoked
2                  1              NaN
3                  0  formerly smoked
4                  1              NaN