In [1]:
#importing the libraries
import pandas as pd

In [2]:
#reading the file
data = pd.read_csv('backward_feature_elimination.csv')

In [3]:
# first 5 rows of the data
data.head()

,ID,season,holiday,workingday,weather,temp,humidity,windspeed,count
0,AB101,1,0,0,1,9.84,81,0.0,16
1,AB102,1,0,0,1,9.02,80,0.0,40
2,AB103,1,0,0,1,9.02,80,0.0,32
3,AB104,1,0,0,1,9.84,75,0.0,13
4,AB105,1,0,0,1,9.84,75,0.0,1

In [4]:
#shape of the data
data.shape

(12980, 9)

In [5]:
# checking missing values in the data
data.isnull().sum()

ID            0
season        0
holiday       0
workingday    0
weather       0
temp          0
humidity      0
windspeed     0
count         0
dtype: int64

In [6]:
# creating the training data
X = data.drop(['ID', 'count'], axis=1)
y = data['count']

In [7]:
X.shape, y.shape

((12980, 7), (12980,))

In [8]:
!pip install mlxtend

Requirement already satisfied: mlxtend in /home/av/anaconda3/lib/python3.6/site-packages (0.16.0)
Requirement already satisfied: matplotlib>=1.5.1 in /home/av/anaconda3/lib/python3.6/site-packages (from mlxtend) (2.2.2)
Requirement already satisfied: numpy>=1.10.4 in /home/av/anaconda3/lib/python3.6/site-packages (from mlxtend) (1.16.1)
Requirement already satisfied: scipy>=0.17 in /home/av/anaconda3/lib/python3.6/site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: setuptools in /home/av/anaconda3/lib/python3.6/site-packages (from mlxtend) (39.1.0)
Requirement already satisfied: scikit-learn>=0.18 in /home/av/anaconda3/lib/python3.6/site-packages (from mlxtend) (0.20.3)
Requirement already satisfied: pandas>=0.17.1 in /home/av/anaconda3/lib/python3.6/site-packages (from mlxtend) (0.23.0)
Requirement already satisfied: cycler>=0.10 in /home/av/anaconda3/lib/python3.6/site-packages (from matplotlib>=1.5.1->mlxtend) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /home/av/anaconda3/lib/python3.6/site-packages (from matplotlib>=1.5.1->mlxtend) (2.2.0)
Requirement already satisfied: python-dateutil>=2.1 in /home/av/anaconda3/lib/python3.6/site-packages (from matplotlib>=1.5.1->mlxtend) (2.7.3)
Requirement already satisfied: pytz in /home/av/anaconda3/lib/python3.6/site-packages (from matplotlib>=1.5.1->mlxtend) (2018.4)
Requirement already satisfied: six>=1.10 in /home/av/anaconda3/lib/python3.6/site-packages (from matplotlib>=1.5.1->mlxtend) (1.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/av/anaconda3/lib/python3.6/site-packages (from matplotlib>=1.5.1->mlxtend) (1.0.1)
You are using pip version 18.1, however version 19.1.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [9]:
from mlxtend.feature_selection import SequentialFeatureSelector as sfs
from sklearn.linear_model import LinearRegression

In [10]:
lreg = LinearRegression()
sfs1 = sfs(lreg, k_features=4, forward=False, verbose=1, scoring='neg_mean_squared_error')

In [11]:
sfs1 = sfs1.fit(X, y)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   7 out of   7 | elapsed:    0.1s finished
Features: 6/4[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:    0.1s finished
Features: 5/4[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.1s finished
Features: 4/4

In [12]:
feat_names = list(sfs1.k_feature_names_)
print(feat_names)

['holiday', 'workingday', 'temp', 'humidity']

In [13]:
new_data = data[feat_names]
new_data['count'] = data['count']

/home/av/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [14]:
# first five rows of the new data
new_data.head()

   holiday  workingday  temp  humidity  count
0        0           0  9.84        81     16
1        0           0  9.02        80     40
2        0           0  9.02        80     32
3        0           0  9.84        75     13
4        0           0  9.84        75      1

In [15]:
# shape of new and original data
new_data.shape, data.shape

((12980, 5), (12980, 9))