# Random Forest

### Importing Libraries

In [1]:
#Importing required libraries
import pandas as pd 
import numpy as np

### Loading the dataset

In [2]:
#reading the data
data=pd.read_csv('data_cleaned.csv')

In [3]:
data.shape

(891, 25)

In [4]:
#first five rows of the data
data.head()

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,0,22.0,7.2500,0,0,1,0,1,0,1,...,1,0,0,0,0,0,0,0,0,1
1,1,38.0,71.2833,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,1,0,0
2,1,26.0,7.9250,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
3,1,35.0,53.1000,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,1
4,0,35.0,8.0500,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1

### Separating independent and dependent variables.

In [5]:
#independent variables
x = data.drop(['Survived'], axis=1)

#dependent variable
y = data['Survived']

### Creating the train and test dataset

In [6]:
#import the train-test split
from sklearn.model_selection import train_test_split

In [7]:
#divide into train and test sets
train_x,test_x,train_y,test_y = train_test_split(x,y, random_state = 101, stratify=y)

## Building a Decision Tree Model

In [8]:
#Importing Decision Tree Classifier 
from sklearn.tree import DecisionTreeClassifier

In [9]:
#creating a decision tree instance
clf = DecisionTreeClassifier(random_state=96)

In [10]:
#training the model
clf.fit(train_x,train_y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=96, splitter='best')

In [11]:
#calculating score on training data
clf.score(train_x, train_y)

0.9880239520958084

In [12]:
#calculating score on test data
clf.score(test_x, test_y)

0.757847533632287

## Building a Random Forest Model

In [27]:
#Importing random forest classifier 
from sklearn.ensemble import GradientBoostingClassifier

In [28]:
#creating a random forest instance
clf = GradientBoostingClassifier(random_state=96)

In [ ]:
#train the model
clf.fit(train_x,train_y)

In [23]:
#score on training data
clf.score(train_x, train_y)

0.8413173652694611

In [24]:
#score on test data
clf.score(test_x, test_y)

0.7982062780269058

In [25]:
#looking at the feature importance
clf.feature_importances_

array([0.32, 0.46, 0.  , 0.02, 0.04, 0.02, 0.02, 0.  , 0.  , 0.  , 0.02,
       0.04, 0.02, 0.02, 0.  , 0.  , 0.  , 0.  , 0.02, 0.  , 0.  , 0.  ,
       0.  , 0.  ])

In [26]:
#feature importance against each variable
pd.Series(clf.feature_importances_, index=train_x.columns)

Age           0.32
Fare          0.46
Pclass_1      0.00
Pclass_2      0.02
Pclass_3      0.04
Sex_female    0.02
Sex_male      0.02
SibSp_0       0.00
SibSp_1       0.00
SibSp_2       0.00
SibSp_3       0.02
SibSp_4       0.04
SibSp_5       0.02
SibSp_8       0.02
Parch_0       0.00
Parch_1       0.00
Parch_2       0.00
Parch_3       0.00
Parch_4       0.02
Parch_5       0.00
Parch_6       0.00
Embarked_C    0.00
Embarked_Q    0.00
Embarked_S    0.00
dtype: float64