### Loading the Data

In [1]:
import pandas as pd

In [2]:
stroke_data = pd.read_csv('stroke prediction.csv')
stroke_data.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,Male,3.0,0,0,No,children,Rural,95.12,18.0,NaN,0
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,16523,Female,8.0,0,0,No,Private,Urban,110.89,17.6,NaN,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,46136,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0

### Creating Bins

In [3]:
bins=[0,12,19,30,60,90]
group=['child','teenager','young_adult','middle_aged', 'senior_citizen']
stroke_data['age_category']=pd.cut(stroke_data['age'], bins, labels=group)

In [4]:
stroke_data[['age', 'age_category']].head()

    age    age_category
0   3.0           child
1  58.0     middle_aged
2   8.0           child
3  70.0  senior_citizen
4  14.0        teenager

## Binning Using Decision Tree Split

<img src = "index.png" width=600px>

In [5]:
bins=[0,49.5,66.5,77.5,90]
group=['Bin_1','Bin_2','Bin_3','Bin_4']
stroke_data['age_category']=pd.cut(stroke_data['age'], bins, labels=group)

In [6]:
stroke_data[['age', 'age_category']].head()

    age age_category
0   3.0        Bin_1
1  58.0        Bin_2
2   8.0        Bin_1
3  70.0        Bin_3
4  14.0        Bin_1